{% extends "admin/index.html" %}

{% block extrahead %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
{% endblock %}

{% block sidebar %}
    <div id="content-related">
        {% if kcal %}
            <h1>Informação nutricional do dia</h1>
            <div>
                <p>Minha MTB: {{ tmb }} kcal</p>
                <p>Total de calorias consumidas: {{ kcal }} kcal</p>
            </div>
            <canvas id="chart" width="300" height="300"></canvas>
        {% else %}
            <p>Não há refeições registradas para hoje</p>
        {% endif %}
    </div>

    <script>
        const ctx = document.getElementById("chart")
        const labels = ['Carboidratos', 'Proteínas', 'Gorduras']
        const data = [{{ carboidratos }}, {{ proteinas }}, {{ gorduras }}]

        const productsChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels,
                datasets: [{
                    label: 'info',
                    data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'Chart.js Bar Chart'
                  }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}